#gnav
  //- .content-block

  .gnav__overlay.pc-none.js-gnavToggleButton

  .gnav__folding.js-gnavToggleButton
    ul.gnav__links
      li.gnav__linksItem: a(href='#top', data-link-type='smooth-scroll') TOP
      li.gnav__linksItem: a(href='#about', data-link-type='smooth-scroll') ABOUT
      li.gnav__linksItem: a(href='#news', data-link-type='smooth-scroll') NEWS
      li.gnav__linksItem: a(href='#contact', data-link-type='smooth-scroll') CONTACT
      li.gnav__linksItem: a(href='./nextpage', data-link-type='other-page') NEXT PAGE
      li.gnav__linksItem: a(href='#', data-link-type='modal-on-gnav') MODAL ON GNAV
    .gnav__ico.sp-none
      .gnav__icoLink: a.a-block(href='#', target='_blank')

  .gnav__toggleButton.pc-none
    .gnav__openButton.js-gnavToggleButton
      span
      span
      span
    .gnav__closeButton.js-gnavToggleButton
      span
      span
