#gnav
  //- .content-block

  .gnav__overlay.pc-none.js-gnavToggleButton

  .gnav__folding.js-gnavToggleButton
    ul.gnav__links
      li.gnav__linksItem: a(href='#top') TOP
      li.gnav__linksItem: a(href='#about') ABOUT
      li.gnav__linksItem: a(href='#news') NEWS
      li.gnav__linksItem: a(href='#contact') CONTACT
    .gnav__ico.sp-none
      .gnav__icoLink: a.a-block(href='#', target='_blank')

  .gnav__toggleButton.pc-none
    .gnav__openButton.js-gnavToggleButton
      span
      span
      span
    .gnav__closeButton.js-gnavToggleButton
      span
      span
