#gnav

  .modal(data-modal="gnav")
    .modal__overlay.pc-none.js-gnav-close
    .modal__content
      ul.modal__links
        li.modal__linksItem.js-gnav-close: a(href='#top', data-link-type='smooth-scroll') TOP
        li.modal__linksItem.js-gnav-close: a(href='#about', data-link-type='smooth-scroll') ABOUT
        li.modal__linksItem.js-gnav-close: a(href='#news', data-link-type='smooth-scroll') NEWS
        li.modal__linksItem.js-gnav-close: a(href='#contact', data-link-type='smooth-scroll') CONTACT
        li.modal__linksItem: a(href='./nextpage', data-link-type='other-page') NEXT PAGE
        li.modal__linksItem.js-modal-open(data-modal="on-modal"): a(href='#', data-link-type='modal-on-modal') MODAL ON GNAV
      .modal__ico.sp-none
        .modal__icoLink: a.a-block(href='#', target='_blank')

  .gnav__toggleButton.pc-none
    .gnav__toggleButton--open.js-gnav-open
      span
      span
      span
    .gnav__toggleButton--close.js-gnav-close
      span
      span
