#initialVisitModal.section-block
  .modal__overlay.js-initialVisitModalToggleButton
  .modal__content
    .modal__content--img
    .modal__btn-close.js-initialVisitModalToggleButton

button.js-initialVisitModalToggleButton.js-initialVisitModalOpenButton.is-hidden
