#initialVisitModal.section-block
  .modal__overlay.js-initialVisitModalToggleButton
  .modal__content
    .modal__content_img: img(src='./img/sample1.jpg', alt='sample')
    .modal__btn-close.js-initialVisitModalToggleButton

button.js-initialVisitModalToggleButton.js-initialVisitModalOpenButton.is-hidden
