#soundCheckModal.section-block
  .modal__overlay.js-soundCheckModalToggleButton
  .modal__content
    .modal__content_img: img(src='./img/sample2.jpg', alt='sample')
    .modal__btn-close.js-soundCheckModalToggleButton

button.js-soundCheckModalToggleButton.js-soundCheckModalOpenButton.is-hidden
