#soundCheckModal.section-block
  .modal__overlay.js-soundCheckModalToggleButton
  .modal__content
    .modal__content--img
    .modal__btn-close.js-soundCheckModalToggleButton

button.js-soundCheckModalToggleButton.js-soundCheckModalOpenButton.is-hidden
