.modal.section-block(data-modal="youtube")
  .modal__overlay.js-modal-close
  .modal__content
    #ytplayer-koi.ytplayer(data-youtube-type="koi" data-youtube-id="jhOVibLEDhA")
    .youtube__button--start.js-start-youtube(data-youtube-type="koi")
    .youtube__button--stop.js-stop-youtube(data-youtube-type="koi")
    .modal__button--close.js-modal-close
