#youtubeModal.section-block
  .modal__overlay.js-youtubeModalToggleButton
  .modal__content
    .modal__content_img: img(src='./img/sample1.jpg', alt='sample')
    .modal__btn-close.js-youtubeModalToggleButton

button.js-youtubeModalToggleButton.js-youtubeModalOpenButton Youtube Modal Button
