#youtubeModal.section-block
  .modal__overlay.js-youtubeModalToggleButton
  .modal__content
    .modal__content--img
    .modal__btn-close.js-youtubeModalToggleButton

button.js-youtubeModalToggleButton.js-youtubeModalOpenButton Youtube Modal Button
