extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- prepend JavascriptBlock

block ContentBlock
  - const encode_description = encodeURIComponent(description);
  - const encode_twitter_description = encodeURIComponent(twitter_description);
  - const encode_hashtag = encodeURIComponent(hashtag);
  - const encode_url = encodeURIComponent(url);

  .page-root(data-page='top')
    .wrapper

      include ./partial/_header
      include ./partial/_gnav

      include ./partial/_sound

      #top.section-block
        .content-block
          .box
          .box.sp-none

      #about.section-block
        .content-block
          .box
          .box.sp-none

      include ./partial/_footer
      include ./partial/_socialButton
      include ./partial/_socialScript

      include ./partial/_youtubeModal
      include ./partial/_soundCheckModal
      include ./partial/_initialVisitModal
      include ./partial/_modalOnModal

      .youtube
        #ytplayer-sao.ytplayer(data-youtube-type="sao" data-youtube-id="4slt_lQ8fPc")
        .youtube__button--start.js-start-youtube(data-youtube-type="sao")
        .youtube__button--stop.js-stop-youtube(data-youtube-type="sao")
      .youtube
        #ytplayer-perfume.ytplayer(data-youtube-type="perfume" data-youtube-id="9pjtVUZNfWY")
        .youtube__button--start.js-start-youtube(data-youtube-type="perfume")
        .youtube__button--stop.js-stop-youtube(data-youtube-type="perfume")

      button.js-modal-open(data-modal="sound-check") SoundCheck Modal Button
      button.js-modal-open(data-modal="youtube") Youtube Modal Button

      button.js-gototopButton GO TO TOP

      .js-facebookButton

      #canvasArea
        .button
          button.js-restart START
          button.js-stop STOP
        .update
        .render


  #loading

  #preload(data-preload='1')
    - for (var i = 1; i <= 2; i++) {
      div(class=`preload__image--${i}`)
    - }
