// http://tech.cmd08.com/sass-mediaqueries-content

@mixin env( $val: 'all' ) {
  @if $val == "pc" {
    @include env-pc {
      @content;
    }
  } @elseif $val == "sp" {
    @include env-sp {
      @content;
    }
  } @elseif $val == "tab" {
    @include env-tab {
      @content;
    }
  } @elseif type-of($val) == number {
    @include mq($val) {
      @content;
    }
  } @else {
    @include env-all {
      @content;
    }
  }
}

@mixin env-all {
  html & {
    @content;
  }
}

@mixin env-pc {
  html[data-env="pc"] & {
    @content;
  }
}

@mixin env-sp {
  html[data-env="sp"] & {
    @content;
  }
}

@mixin env-tab {
  html[data-env="tablet"] & {
    @content;
  }
}

@mixin mq($width) {
  @media only screen and (max-width: $width + 'px') {
    @content;
  }
}




/*

$breakpoint: 600;
$tablet_min: 600;
$tablet_max: 768;

@mixin env($env) {

  @if $env == "pc" {
    @include env-pc {
      @content;
    };
  } @elseif $env == "sp" {
    @include env-sp {
      @content;
    };
  } @if $env == "tab" {
    @include env-tab {
      @content;
    };
  } @else {
    @include env-all {
      @content;
    };
  }

}

@mixin env-all {
  @content;
};

@mixin env-pc {
  @media only screen and (min-width: $breakpoint + 1 + 'px') {
    @content;
  }
}

@mixin env-sp {
  @media only screen and (max-width: $breakpoint + 'px') {
    @content;
  }
}

@mixin env-tab {
  @media only screen and (min-width: $tablet_min + 'px') and (max-width: $tablet_max + 'px') {
    @content;
  }
}

*/
