/*
@mixin image($url, $w: 300, $h: 300, $scale: 1){
  @include hide-txt();
  $width: ceil($w * $scale) + px;
  $height: ceil($h * $scale) + px;
  background-image: url('../img/' + $url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $width $height;
  width: $width;
  height: $height;
}

// PCとSPで同じ画像のケース
@mixin same-image($url, $w: 300, $h: 300, $pc-scale: 1, $sp-scale: 0.5){
  @include image($url,$w,$h,$pc-scale);
  @include env(sp) {
    @include image($url,$w,$h,$sp-scale);
  }
}
*/

// postCss Assets
@mixin image($url, $density: 1, $scale:1){
  @include hide-txt();
  $scale: 1 / $scale;
  // $basePath: '../img/';
  background-repeat: no-repeat;
  background-position: center center;
  background-image: resolve($url);
  // background-image: url($basePath + $url);
  background-size: size($url,$density * $scale);
  width: width($url,$density * $scale);
  height: height($url,$density * $scale);
}
// SPをベースにしてPCも同じ画像のケース
@mixin same-image($url, $scale:1){
  $scale: 1 / $scale;
  @include image($url,1 * $scale);
  @include env(sp) {
    @include image($url,2 * $scale);
  }
}
