/* ======================================
 * 汎用スタイル
 * ====================================== */

html[data-env="pc"],
html[data-env="tablet"]{


}


html[data-env="sp"]{

  * {
    // 文字を選択コピーしたいときは外す
    -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

}


.page-root{
  width: 100%;
  min-width: $content-block-width--pc;
  height: auto;
  font-size: $base-font-size--pc;
  line-height: $base-line-height--pc;
  font-family: $sans-serif;
  overflow: hidden; // IEで指定しないと余白ができる
  @include env(sp) {
    min-width: $content-block-width--sp;
    font-size: $base-font-size--sp;
    line-height: $base-line-height--sp;
  };
}
.section-block{
  width: 100%;
}
.content-block{
  width: $content-block-width--pc;
  margin: 0 auto;
  @include env(sp) {
    width: $content-block-width--sp;
  }
}


// test
.section-block{
  background-color: #ccc;
  padding: 10px 0;
}
.content-block{
  background-color: #888;
  padding: 0 10px;
}
