#gnav{

  // modal
  .modal[data-modal="gnav"]{
    overflow-y: scroll;
    z-index: index($z, gnav);
    // overlay
    .modal__overlay{
    }
    // content
    .modal__content{
      @include env(sp) {
        $top: 50px;
        width: 100%;
        position: absolute;
        text-align: center;
        padding-top: $top;
      }
    }
    .modal__links{
      font-size: 24px;
      line-height: 88px;
    }
    .modal__linksItem{
      display: inline-block;
      @include env(sp) {
        display: block;
      }
      a{
        color: #000;
        @include env(sp) {
          color: $font-color;
        }
        &:hover{
          color: $main-color;
        }
      }
    }
  }

  // button
  $size: 50;
  $line-height: 2;
  .gnav__toggleButton{
    display: none;
    z-index: index($z, gnav);
    position: fixed;
    top: 15px; right: 15px;
    width: $size + px;
    height: $size + px;
  }
  .gnav__toggleButton--open{
    position: absolute;
    top: 0; right: 0;
    width: $size + px;
    height: $size + px;
    span{
      position: absolute;
      left: 0;
      width: 100%;
      height: $line-height + px;
      background-color: #fff;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 15px;
      }
      &:nth-of-type(3) {
        top: 30px;
      }
    }
  }
  .gnav__toggleButton--close{
    @extend .gnav__toggleButton--open;
    display: none;
    margin-top: 15px;
    span{
      &:nth-of-type(1) {
        top: 0;
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        top: -$line-height + px;
        transform: rotate(-45deg);
      }
    }
  }
  &[data-gnav-open="1"]{
    .gnav__toggleButton--open{display: none;}
    .gnav__toggleButton--close{display: block;}
  }


}
