.sprite{
    $charas: megumin sagiri umaru;
    @each $chara in $charas {
        div[data-chara='#{$chara}']{
        }
    }
    div{
        display: inline-block;
    }
    div[data-chara="megumin"]{
        @include sprite($sprite-megumin, 0.45);
    }
    div[data-chara="sagiri"]{
        @include sprite($sprite-sagiri, 0.4);
    }
    div[data-chara="umaru"]{
        @include sprite($sprite-umaru, 0.6);
    }
}

.sprite-number{
    @for $i from 0 through 9 {
        span[data-sprite-index="#{$i}"]{
            display: inline-block;
            @include sprite-number("sprite/number.png",48,85,0.5,$i);
        }
    }
}
